{
  "type": "",
  "host": "",
  "username": "",
  "password": "",
  "database": "",
  "entities": [
    "./src/entity/*.ts"
  ],
  "migrations": [
    "./src/database/migrations/*.ts"
  ],
  "cli": {
    "migrationsDir": "./src/database/migrations"
  }
}
